body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  line-height: 1.6;
}

header {
  text-align: center;
  padding: 30px 20px;
  background: linear-gradient(135deg, #000000, #1c1c1c);
  color: goldenrod;
}

header img {
  max-width: 100px;
  margin: 10px 0;
}
.barra-superior {
  display: flex;
  justify-content: center; /* centra horizontalmente */
}
header a {
  color: goldenrod;
}

/* Contenedor principal */
.terms-container {
  display: grid;
  grid-template-columns: 250px 1fr; /* sidebar + contenido */
  gap: 30px;
  max-width: 1200px;
  margin: 0 auto;
  padding: 40px 20px;
}

/* Menú lateral */
.sidebar {
  position: sticky;
  top: 20px; /* separa un poco del top */
  max-width: 220px; /* ancho más compacto */
  font-size: 14px; /* letra más pequeña */
  line-height: 1.5; /* espacio entre enlaces */
  padding: 15px;
  margin-left: -40px;
}

.sidebar h2 {
  font-size: 1.2rem;
  margin-bottom: 15px;
}

.sidebar ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.sidebar ul li {
  margin: 12px 0;
}

.sidebar ul li a {
  text-decoration: none;
  color: #0073e6;
  font-weight: 500;
}

.sidebar ul li a:hover {
  color: #005bb5;
}

/* Contenido */
.terms-content h1 {
  text-align: center;
  margin-left: -20px;
}

.terms-content h2 {
  font-size: 1.3rem;
  scroll-margin-top: 80px;
  margin-left: -20px;
}

footer {
  text-align: center;
  padding: 20px;
  background: #000;
  color: #aaa;
}

footer h2 {
  color: goldenrod;
}
